*{
    text-align: center;
    background-color: #f8f8f8;
}

h1{
    font-size: 23px;
    font-weight: bold;
    letter-spacing: 1px;
}

form{
    display: flex;
    flex-direction: column;
    
}
.form-content{
    padding-top: 20px;
}

.form-content{
    margin-top: 20px;
}

.btn{
    margin-top: 20px;
    padding: 12px 20px;
    font-size: 16px;
}